*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("city-in-war-zone-cartoon-background-vector-27037722.jpg");
    background-size:cover;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    top:70px;
}

main ,footer{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 150px;
    
}